@import "../../../globalStyle/global.scss";
.musicContainer {
    
}
.music {
    .musicDatas {
        height: 100%;
        // text-decoration: none;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }

    width: $sizeMusic;
    height: $sizeMusic;
    background-color: $colorComponents;
    border: 1px solid #424242;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    padding: 0.5em;
    border-radius: 0.3em;
    margin: auto;
    margin-bottom: 2em;
    position: relative;
    transition: 0.2s all;

    &:hover {
        scale: 1.1;
        .deleteMusic, .addMusic {
            display: block;
        }
    }

    img {
        width: 100%;
        cursor: pointer;
    }

    h4 {
        font-size: 1.05em;
        text-transform: capitalize;
    }
    p {
        font-weight: bold;
    }

    .textsMusic {
        height: 42%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .deleteMusic {
        position: absolute;
        display: none;
        bottom: 0;
        right: 2px;
        font-size: 1.25em;

        svg {
            transition: 0.3s all;
            cursor: pointer;

            path {
                transition: 0.3s all;
                color: rgb(252, 96, 96);
            }

            &:hover {
                path {
                    color: #f00;
                }
            }
        }
    }
    .addMusic {
        cursor: pointer;
        position: absolute;
        display: none;
        bottom: 3px;
        left: 3px;
        font-size: 1.25em;
        height: 20px;
        width: 20px;
    }

    .promptDeleteMusic {
        width: $sizeMusic;
        height: $sizeMusic;
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid #fff;
        padding: 2em;
        border-radius: 0.5em;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.1em;

        .deleteMusicText {
            font-weight: bold;
            margin-bottom: 0.8em;
        }

        .nameDeleteMusic {
            text-transform: capitalize;
            margin-bottom: 0.8em;
        }

        .options {
            @extend .flexCenter;
            justify-content: space-evenly;

            button {
                @extend .flexCenter;
                width: calc($sizeMusic / 8);
                height: calc($sizeMusic / 8);
                border: 1px solid #fff;
                border-radius: 0.5em;
                background-color: transparent;
                padding: 0.8em;
                font-size: 1.1em;
                cursor: pointer;
                transition: 0.3s all;
            }
            .Y:hover {
                background-color: #fd2a2a;
                border-color: #fd2a2a;
            }
            .N:hover {
                background-color: #2e2afd;
                border-color: #2e2afd;
            }
        }
    }
    .findPlaylist {
        width: $sizeMusic;
        height: $sizeMusic;
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid #fff;
        padding: 1em;
        border-radius: 0.5em;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.1em;

        .filter {
            @extend .flexCenter;
            margin: auto;
            width: 50%;
        
            label {
                @extend .flexCenter;
                background-color: $colorComponents;
                background-color: #202020;
                border: 1px solid #fff;
                padding: .3em;
                gap: .5em;
                border-radius: 1em;
            }
            input {
                // padding: .5em;
                border: none;
                background-color: transparent;
                
                &::placeholder {
                    color: #e9e9e9;
                }

                &:focus {
                    outline: none;
                }
            }
        
            svg {
                font-size: 1.1em;
            }
        }

        .playlistsOptions {
            margin-top: .8em;
            width: 100%;
            max-height: 75%;
            overflow: auto;

            .playlist {
                padding: .3em;
                width: 90%;
                margin: auto;
                cursor: pointer;
                transition: .2s all;
                background-color: #202020;

                &:hover {
                    background-color: #424242;
                }

                p {
                    font-weight: 500;
                }
            }
        }

        // .deleteMusicText {
        //     font-weight: bold;
        //     margin-bottom: 0.8em;
        // }

        // .nameDeleteMusic {
        //     text-transform: capitalize;
        //     margin-bottom: 0.8em;
        // }

        // .options {
        //     @extend .flexCenter;
        //     justify-content: space-evenly;

        //     button {
        //         @extend .flexCenter;
        //         width: calc($sizeMusic / 8);
        //         height: calc($sizeMusic / 8);
        //         border: 1px solid #fff;
        //         border-radius: 0.5em;
        //         background-color: transparent;
        //         padding: 0.8em;
        //         font-size: 1.1em;
        //         cursor: pointer;
        //         transition: 0.3s all;
        //     }
        //     .Y:hover {
        //         background-color: #fd2a2a;
        //         border-color: #fd2a2a;
        //     }
        //     .N:hover {
        //         background-color: #2e2afd;
        //         border-color: #2e2afd;
        //     }
        // }
    }
}
