@import '../../../globalStyle/global.scss';
$sizeImage: 150px;

.playlist {
    position: relative;
    transition: .2s all;
    width: 40%;

    .optionsPlaylist {
        display: none;
        position: absolute;
        top: .5em;
        right: .5em;
        font-size: 1.1em;
        cursor: pointer;
    }
    &:hover {
        scale: 1.1;
        .optionsPlaylist {
            display: block
        }
    }
    .chooseOptions {
        position: absolute;
        background-color: rgba(0,0,0,.8);
        top: 2em;
        right: 1em;
        width: 40%;
        border-radius: .3em;

        div{
            padding: .4em;
            border-bottom: 1px solid #fff;
            cursor: pointer;
            transition: .2s all;

            &:hover {
                background-color: #000;
                scale: 1.05;
            }
        }

        .edit {
            border-top-left-radius: .3em;
            border-top-right-radius: .3em;  
        }
        .delete {
            border-bottom-left-radius: .3em;
            border-bottom-right-radius: .3em;  
        }
    }

    .formEditPlaylist {
        width: 50%;
        position: absolute;
        top: 2em;
        right: 1em;

        input {
            width: 85%;
            padding: .3em;
            border: 2px solid #fff;
            border-right: none;
            border-top-left-radius: .5em;
            border-bottom-left-radius: .5em;
            background-color: #bdbdbd;
            font-size: 1em;
            color: #fafafa;
        
            &::placeholder {
                color: #fafafa;
            }
            &:focus {
                outline: none;
            }
        }

        button {
            width: 15%;
            padding: .3em;
            border: 2px solid #fff;
            border-top-right-radius: .5em;
            border-bottom-right-radius: .5em;
            background-color: rgb(138, 253, 153);
            font-size: 1em;
            transition: .2s all;
            cursor: pointer;

            &:hover {
                background-color: rgb(7, 255, 40);
            }
        }
    }

    a {
        @extend .flexCenter;
        text-decoration: none;
        padding: 1em;
        border: 2px solid #fff;
        border-radius: 1em;
        background-color: #c0c0c0;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);

        img {
            width: $sizeImage;
            height: $sizeImage;
            border-radius: .5em;
        }

        .texts {
            @extend .flexCenter;
            flex-direction: column;
            gap: 1em;
            margin-left: 1em;
            font-size: 1.5em;
        }

    }
    
    
}

@media (max-width: 1550px) {
    .playlist  {
        width: 60%;
    }
}
@media (max-width: 1100px) {
    .playlist  {
        width: 100%;
    }
}