$colorInput: #fff;
$colorBorder: #4a39e7;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body {
    min-height: 100vh;
    background-color: #d3d3d3;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.message.error {
    color: rgb(219, 0, 0);
}
.message.success {
    color: #0f0;
}
