.filter {
    @extend .flexCenter;
    margin: auto;
    width: 100%;

    label {
        @extend .flexCenter;
        background-color: $colorComponents;
        border: 2px solid #fff;
        padding: .5em;
        gap: .5em;
        border-radius: 1.5em;
    }
    input {
        padding: .5em;
        border: none;
        background-color: transparent;
        
        &:focus {
            outline: none;
        }
    }

    svg {
        font-size: 1.5em;
    }
}
